site/node_modules

# Output
site/.output
site/.vercel
site/.netlify
site/.wrangler
site/.svelte-kit
site/build

# OS
*.DS_Store
site/Thumbs.db

# Env
*.env
*.env.*
*!.env.example
*!.env.test

# Vite
site/vite.config.js.timestamp-*
site/vite.config.ts.timestamp-*

#platformio
cyd/.pio
cyd/.vscode

#google credentials
*google-api-credentials.json
*google-service-account-key.json
